<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div class="order-summary jumbotron">
        <h1>Welcome to Jungle!</h1>
        <h4> Your Order Details: </h4>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th> Product Name </th>
            <th> Quantity </th>
            <th> Item(s) Total </th>
          </tr>
        </thead>
        <tbody>
          <% @order.line_items.each do |line_item| %>
            <tr>
            <td> <%= line_item.product.name %> </td>
            <td><%= line_item[:quantity] %></td>
            <td><%= line_item[:total_price_cents]/100.00 %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <div>
    <h4> Your Total: <%= @order.total_cents / 100.00 %> </h4>
    <p>Thanks for your business!</p>
  </body>
</html>